# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development
CLIENT_BASE_URI=http://localhost:3000

# ── Elastic ───────────────────────────────────────────────────
ELASTIC_URL=http://localhost:9200
ELASTIC_API_KEY=
ELASTIC_MCP_ENDPOINT=

# ── GitLab (Scopes: api, read_repository, write_repository) -> fallback ────────────────────────────────────────────────────
GITLAB_TOKEN=

# ── GitHub (Scopes: public_repo, reads:user) -> fallback ────────────────────────────────────────────────────
GITHUB_TOKEN=

# ── Encryption ────────────────────────────────────────────────
ENCRYPTION_KEY=

# ── Google Cloud ──────────────────────────────────────────────
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_LOCATION=
GEMINI_API_KEY=

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_ENGINE_ID=
GCP_SERVICE_ACCOUNT=


# ── Cloudflare ────────────────────────────────────────────────
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
D1_DATABASE_ID=
KV_NAMESPACE_ID=

NPM_TOKEN=